.navbar-nav{
    width: 400px;
}
.genda{
    color: aliceblue;
    text-decoration: none;
    margin-right: 20%;
    padding-left: 15%;
}
.contato{
    color: aliceblue;
    text-decoration: none;
}
.imagen{
    width: 45px;
    margin-left: 20%;
}